/* = reset ================================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing views to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* = giggin ================================================================ */

:root {
  --primary: #021d49;
  --primary-alpha: rgba(2, 29, 73, 0.5);
  --secondary: #00ffb0;
	--secondary-alpha: rgba(0, 255,126, 0.5);
  --gray: #f6f6f6;
  --gray-alpha: rgba(246, 246, 246, 0.9);
  --black-color: #222223;
	--red-color: #ff4d4f
}

::selection {
  background: var(--secondary);
}

::-moz-selection {
  background: var(--secondary);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
	background: var(--gray);
  color: var(--primary)
}

.float-left-child {
  float: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: .4rem;
  padding-right: .4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
}
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

a:active,
a:hover {
  outline-width: 0;
}

a {
  color: var(--primary);
  outline: none;
  text-decoration: none;
}

a:focus,
a:hover,
a:active,
a.active {
  color: var(--secondary);
  text-decoration: underline;
}

header {
  grid-column: span 2;
  padding: 1vw;
  text-align: center;
}

header .btn {
  height: 4rem;
  font-weight: bold;
}

.logo {
  width: 15vw;
  min-width: 160px;
  max-width: 380px;
}

aside {
  flex: 2;
  padding: .4rem;
}

main {
  padding: .4rem;
}

footer {
  grid-column: span 2;
  padding: 30px;
  padding-left: 0px;
  text-align: left;
  font-size: 0.8em;
  vertical-align: middle;
}

footer img {
  max-width: 40px;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid var(--gray);
  margin-bottom: 20px;
}

.padtop{
  padding-top: 50px;
}

.form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: .05rem solid #d3d3d3;
  border-radius: 6px;
  color: var(--primary);
  display: block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1rem;
  max-width: 80%;
  outline: none;
  padding: .35rem .4rem;
  position: relative;
  transition: all .2s ease;
  width: 80%;
  display: inline-block;
}

.form__input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 .2rem rgba(00, 255, 176, .5);
}

.form__input::-webkit-input-placeholder {
  color: #d3d3d3;
}

.form__input:-ms-input-placeholder {
  color: #d3d3d3;
}

.form__input::placeholder {
  color: #d3d3d3;
}